<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Fragment for jsCommon -->
    <th:block th:fragment="jsCommon">
        <script src="/lib/jquery/jquery-3.7.1.min.js"></script>
        <script src="/lib/jquery/jquery-ui.min.js"></script>
        <script src="/lib/jquery/jqgrid/jquery.jqGrid.min.js"></script>
        <script src="/js/common/utilKw.js"></script>
        <script src="/js/common/finDiaryCommon.js"></script>
        <script src="/js/common/cssControl.js"></script>
        <script src="/js/common/ConstantCommon.js"></script>
        <script src="/js/publish/style.js"></script>
    </th:block>
</head>
</html>
