.r-item .r-itme-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 10px; /* 명언과 저자 간격 */
    line-height: 1.5;
}

.quote-author {
    text-align: right;
    font-size: 1em;
    color: #555;
}

.quotes-font {
    font-size: 0.9vw;
    opacity: 0.5;
    font-weight: bold;
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.market-timer {
    font-size: 1.2vw;
    font-weight: bold;
}

.gauge-container {
    width: 100%;
}

.gauge-bar {
    position: relative;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(to right,
    #1C1F26 0%,     /* Extreme Fear */
    #2D3346 25%,    /* Fear */
    #3C4A61 50%,    /* Neutral */
    #516580 75%,    /* Greed */
    #7A90A5 100%    /* Extreme Greed */
    );
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.gauge-pointer {
    position: absolute;
    top: -10px;
    width: 2px;
    height: 50px;
    background: #ffffff;
    transition: left 1s ease-out;
    cursor: pointer;
}

.gauge-tooltip {
    position: absolute;
    top: -40px;
    background-color: #444c5e;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

/* 기본 가운데 정렬 */
.tooltip-center {
    left: 50%;
    transform: translateX(-50%);
}

/* 왼쪽 정렬 (툴팁이 포인터 오른쪽으로) */
.tooltip-left {
    left: 0;
    transform: translateX(0%);
}

/* 오른쪽 정렬 (툴팁이 포인터 왼쪽으로) */
.tooltip-right {
    right: 0;
    left: auto;
    transform: translateX(0%);
}

.gauge-pointer:hover .gauge-tooltip {
    opacity: 1;
}

.gauge-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .gauge-labels {
        font-size: 0.7em;
    }

    .gauge-pointer {
        height: 40px;
        top: -5px;
    }

    .gauge-bar {
        height: 20px;
    }
}