<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinDiary</title>

    <script src="/js/header/header.js"></script>
</head>
<body>
    <header>
        <div class="r-item">
            <div class="r-itme-right">
                <i class="menu-link"></i>
                <div class="l-item">
                    <h1></h1>
                </div>
            </div>
            <ul class="top-menu">
                <li>
                    <p>
                        <i class="ri-notification-4-line"></i>
                    </p>
                    <div class="depth2">
                        <a href="javascript:;">새로운 알림 2개</a>
                    </div>
                </li>
                <li>
                    <p>
                        <i class="ri-user-smile-line"></i>
                    </p>
                    <div class="depth2">
                        <a href="javascript:;">사용자 정보 수정</a>
                        <a th:href="@{/logout}">로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>