<!-- modal 활성화시 class 추가 : modal-active -->
<section th:fragment="popup">
    <div class="modal no-close-on-backdrop" id="add-trading-popup">
        <input type="hidden" id="add-trading-selecteddate"/>
        <input type="hidden" id="edit-trading-selectedinfo"/>

        <div class="modal-dialog">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="tableType table_input_line">
                            <colgroup>
                                <col width="80">
                                <col width="*">
                            </colgroup>
                            <tr>
                                <th>계좌</th>
                                <td>
                                    <div class="select" id="add-trading-bankaccount">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>종목</th>
                                <td>
                                    <input type="text" id="add-trading-ticker" placeholder="종목" class="w50p">
                                    <p class="txt_info txt_error" id="add-trading-ticker-error"><i
                                            class="xi xi-error-o"></i>종목명을 입력해 주세요.</p>
                                </td>
                            </tr>
                            <tr>
                                <th>매매 일자</th>
                                <td>
                                    <div class="datepicker-wrap">
                                        <input type="text" class="datepicker w120px" id="add-trading-date"
                                               name="add-trading-date" onkeydown="return false" autocomplete="off"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>주문 방식</th>
                                <td>
                                    <div class="radio_toggle">
                                        <label class="formWrap">
                                            <input type="radio" name="add-trading-orderMethod" value="buy" checked>
                                            <span>매수</span>
                                        </label>
                                        <label class="formWrap">
                                            <input type="radio" name="add-trading-orderMethod" value="sell">
                                            <span>매도</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>체결 단가</th>
                                <td>
                                    <label>
                                        <input type="text" id="add-trading-contractPrice" placeholder="1주당 가격"
                                               class="w30p" autocomplete="off">
                                        <select class="w20p select" id="add-trading-selected-property">
                                            <option value="dollar">$</option>
                                            <option value="won">₩</option>
                                        </select>
                                    </label>
                                    <p class="txt_info txt_error" id="add-trading-contractPrice-error"><i
                                            class="xi xi-error-o"></i>체결 단가를 입력해 주세요.</p>
                                </td>
                            </tr>
                            <tr>
                                <th>수량</th>
                                <td>
                                    <label>
                                        <input type="text" id="add-trading-count" placeholder="수량" class="w30p"
                                               autocomplete="off">
                                    </label>
                                    <p class="txt_info txt_error" id="add-trading-count-error"><i
                                            class="xi xi-error-o"></i>수량을 입력해 주세요.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="l-item">
                        <a href="javascript:;" class="btn-md btn-basic" id="add-trading-reset-btn">초기화</a>
                    </div>
                    <div class="r-item">
                        <a href="javascript:;" class="btn-md btn-primary" id="add-trading-btn">등록</a>
                        <a href="javascript:;" class="btn-md btn-ghost" data-dismiss="modal">닫기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="notification-popup">
        <div class="modal-dialog">
            <div class="modal-content modal-xs">
                <div class="modal-header">
                    <h4 class="modal-title">실패</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body type-alert">
                    매매 기록 추가에 실패하였습니다.
                </div>
                <div class="modal-footer">
                    <div class="l-item">
                    </div>
                    <div class="r-item">
                        <a href="javascript:;" class="btn-md btn-basic" data-dismiss="modal">닫기</a>
                        <!--                        <a href="javascript:;" class="btn-md btn-danger" data-dismiss="modal">삭제</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>