<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta name="_csrf_header" content="X-CSRF-TOKEN">
<meta name="_csrf" content="your-csrf-token-value">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinDiary</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/lib/chartjs/chartjs_kw.js"></script>
    <script src="/js/dashboard/dashboard-view.js"></script>
    <script src="/js/dashboard/dashboard-api.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/dashboard/dashboard.css">
</head>

<section class="contents" layout:fragment="content">
    <div class="tit-h2">
        <div class="l-item">
            <h2><i class="ri-dashboard-line"></i> 대시보드</h2>
        </div>
        <div class="r-item">
        </div>
    </div>

    <div class="contWrap h10p">
        <ul class="colWrap col3 h100p">
            <li class="w90p">
                <div class="contBox h100p quote-box">
                    <div>
                        <span id="quotes-ko" class="quote-text quotes-font"></span>
                        <span id="author-ko" class="quote-author quotes-font"></span>
                    </div>
                    <br>
                    <div>
                        <span id="quotes-en" class="quote-text quotes-font"></span>
                        <span id="author-en" class="quote-author quotes-font"></span>
                    </div>
                </div>
            </li>
            <li class="w10p">
                <div class="contBox h100p all-center">
                    <p class="center">
                        KR
                        <span id="korea-time" class="market-timeer"></span>
                    </p>
                    <p class="center">
                        US
                        <span id="usa-time" class="market-timeer"></span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="contWrap h40p">
        <ul class="colWrap col2 h100p">
            <li>
                <div class="contBox h100p">
                    보유현황 (원형 차트)
                    <canvas id="chart-pie-shareholding"></canvas>
                </div>
            </li>
            <li>
                <div class="contBox h100p">
                    매매 캘린더
                </div>
            </li>
        </ul>
    </div>
    <div class="contWrap h40p">
        <ul class="colWrap col2 h100p">
            <li>
                <div class="contBox h100p">
                    수익률 현황
                </div>
            </li>
            <li>
                <div class="contBox h100p">
                    뉴스
                </div>
            </li>
        </ul>
    </div>
</section>
</html>