<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta name="_csrf_header" content="X-CSRF-TOKEN">
<meta name="_csrf" content="your-csrf-token-value">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinDiary</title>
    <script src="/js/dashboard/dashboard-view.js"></script>
    <script src="/js/dashboard/dashboard-api.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/dashboard/dashboard.css">
</head>

<section class="contents" layout:fragment="content">
    <div class="tit-h2">
        <div class="l-item">
            <h2><i class="ri-dashboard-line"></i> 대시보드</h2>
        </div>
        <div class="r-item">
        </div>
    </div>

    <div class="contWrap">
        <ul class="colWrap col3">
            <li class="w90p">
                <div class="contBox">
                    <span id="quotes-ko" class="font15b"></span>
                    <span id="author-ko" class="font15b"></span>
                    <br>
                    <span id="quotes-en" class="font15b"></span>
                    <span id="author-en" class="font15b"></span>
                </div>
            </li>
            <li class="w10p">
                <div class="contBox">
                    <p>
                        KR
                        <span id="korea-time" class="font15b"></span>
                    </p>
                    <p>
                        US
                        <span id="usa-time" class="font15b"></span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
</html>