<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta name="_csrf_header" content="X-CSRF-TOKEN">
<meta name="_csrf" content="your-csrf-token-value">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinDiary</title>
    <script src='../lib/fullcalendar/index.global.min.js'></script>
    <script src="../js/diary/diary-view.js"></script>
    <script src="../js/diary/diary-api.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/diary/diary.css">
</head>

<section class="contents" layout:fragment="content">
    <div class="tit-h2">
        <div class="l-item">
            <h2><i class="ri-booklet-line"></i> 매매일지</h2>
        </div>
        <div class="r-item">
        </div>
    </div>

    <div class="contBox">
        여기에 본문 콘텐츠 들어감
    </div>
</section>
</html>