<!DOCTYPE html>
<html>
<meta name="_csrf_header" content="X-CSRF-TOKEN">
<meta name="_csrf" content="your-csrf-token-value">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinDiary</title>
    <th:block th:replace="common/jsCommon :: jsCommon"></th:block>
    <script src="../js/dashboard/dashboard-view.js"></script>
    <script src="../js/dashboard/dashboard-api.js"></script>

    <th:block th:replace="common/cssCommon :: cssCommon"></th:block>
    <link type="text/css" rel="stylesheet" href="../css/dashboard/dashboard.css">
</head>

<body class="dashboard">
    <header>
        <div class="r-item">
            <div class="r-itme-right">
                <i class="menu-link"></i>
                <div class="l-item">
                    <h1></h1>
                </div>
            </div>
            <ul class="top-menu">
                <li>
                    <p>
                        <i class="ri-notification-4-line"></i>
                    </p>
                    <div class="depth2">
                        <a href="javascript:;">새로운 알림 2개</a>
                    </div>
                </li>
                <li>
                    <p>
                        <i class="ri-user-smile-line"></i>
                    </p>
                    <div class="depth2">
                        <a href="javascript:;">사용자 정보 수정</a>
                        <a href="javascript:;">로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <section class="sideWrap">
        <ul class="leftMenu">
            <li class="depth0">
                <a href="javascript:;">
                    <i class="ri-dashboard-line"></i>
                    <em>대시보드</em>
                </a>
<!--                <ul class="depth2">-->
<!--                    <li>-->
<!--                        <a href="javascript:;" class="active">평가 계획</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </li>
            <li class="depth1">
                <a href="javascript:;">
                    <i class="ri-settings-line"></i>
                    <em>설정</em>
                </a>
                <ul class="depth2">
                    <li>
                        <a href="javascript:;">설정</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <article class="container">

        <section class="contents">
            <div class="tit-h2">
                <div class="l-item">
                    <h2><i class="ri-dashboard-line"></i> 대시보드</h2>
<!--                    <span>하위 제목(필요시 사용)</span>-->
                </div>
                <div class="r-item">
                </div>
            </div>

            <ul class="colWrap col2">
                <li class="width-90p">
                    <div class="contBox">
                        contents
                    </div>
                </li>
                <li class="width-10p">
                    <div class="contWrap">
                        contents
                    </div>
                </li>
            </ul>
        </section>

        <footer class="footer">
            ©KWFW All rights reserved.
        </footer>
    </article>
</body>
</html>