<!DOCTYPE html>
<html>
<meta name="_csrf_header" content="X-CSRF-TOKEN">
<meta name="_csrf" content="your-csrf-token-value">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinDiary</title>
  <th:block th:replace="common/jsCommon :: jsCommon"></th:block>
  <script src="../js/sample/sample-view.js"></script>
  <script src="../js/sample/sample-api.js"></script>

  <th:block th:replace="common/cssCommon :: cssCommon"></th:block>
  <link type="text/css" rel="stylesheet" href="../css/sample/sample.css">
</head>

<body class="sample">
<!-- //Modal -->

</body>
</html>